body {
  font-family: "Lato", sans-serif;
  font-size: 14px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans Condensed", sans-serif; }

aside.sidebar {
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  height: 100vh;
  position: fixed;
  left: -80vw;
  background: #F5F5F5;
  z-index: 999;
  overflow-y: scroll;
  transition: 200ms; }
  aside.sidebar:after {
    content: " ";
    display: block;
    clear: both; }
  aside.sidebar nav {
    width: 80vw;
    background: white;
    position: fixed;
    z-index: 1005; }
  aside.sidebar .search-mobile {
    margin: 0; }
  aside.sidebar.show {
    left: 0;
    transition: 200ms; }

.sidebar-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: black;
  opacity: 0;
  z-index: 997;
  display: none;
  transition: 200ms; }
  .sidebar-overlay.show {
    opacity: .48;
    display: block;
    transition: 200ms; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9; }

nav.navbar-mobile {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: white;
    /*position: fixed;
    top: 0;
    background: white;
    width: 100%;
    z-index: 9;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.12);
	-moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.12);
	box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.12);*/ }
  nav.navbar-mobile:after {
    content: " ";
    display: block;
    clear: both; }
  nav.navbar-mobile a {
    display: block; }
    nav.navbar-mobile a img {
      display: block; }

.navbar-mobile-menu {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin: 4.5vh 0; }
  .navbar-mobile-menu img {
    width: auto;
    height: 3vh;
    margin: auto; }

.navbar-mobile-logo {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin: 1vh 0; }
  .navbar-mobile-logo img {
    width: auto;
    height: 8vh;
    margin: auto; }

.navbar-mobile-cart {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin: 4vh 0; }
  .navbar-mobile-cart img {
    width: auto;
    height: 4vh;
    margin: auto; }

.navbar-mobile-search {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin: 4vh 0; }
  .navbar-mobile-search img {
    width: auto;
    height: 4vh;
    margin: auto; }

.search-mobile {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -8vh;
  z-index: -999;
  width: 100%;
  background: #70848F;
  -webkit-box-shadow: inset 0px 0px 48px 0px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: inset 0px 0px 48px 0px rgba(0, 0, 0, 0.48);
  box-shadow: inset 0px 0px 48px 0px rgba(0, 0, 0, 0.48);
  transition: 200ms; }
  .search-mobile:after {
    content: " ";
    display: block;
    clear: both; }
  .search-mobile.show {
    top: 0;
    transition: 200ms; }

.search-mobile-input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 91.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin: 2vh 4.16667%; }
  .search-mobile-input input[type="search"] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    padding: 0.5em 4.16667%;
    border: none;
    border-radius: 0;
    background: none;
    color: rgba(255, 255, 255, 0.96); }
    .search-mobile-input input[type="search"]::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: rgba(255, 255, 255, 0.96);
      font-weight: 100;
      text-transform: capitalize; }
    .search-mobile-input input[type="search"]::-moz-placeholder {
      /* Firefox 19+ */
      color: rgba(255, 255, 255, 0.96);
      font-weight: 100;
      text-transform: capitalize; }
    .search-mobile-input input[type="search"]:-ms-input-placeholder {
      /* IE 10+ */
      color: rgba(255, 255, 255, 0.96);
      font-weight: 100;
      text-transform: capitalize; }
    .search-mobile-input input[type="search"]:-moz-placeholder {
      /* Firefox 18- */
      color: rgba(255, 255, 255, 0.96);
      font-weight: 100;
      text-transform: capitalize; }
  .search-mobile-input button {
    position: absolute;
    right: 4.16667%;
    border: none;
    background: none;
    margin: .36rem 0;
    color: rgba(255, 255, 255, 0.96); }
    .search-mobile-input button i {
      color: rgba(255, 255, 255, 0.96); }

.promo {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background: #70BD77;
  padding: .5em;
  position: relative;
  top: calc(-4vh - 2rem);
  box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
  transition: 200ms; }
  .promo:after {
    content: " ";
    display: block;
    clear: both; }
  .promo.show {
    top: 0;
    transition: 200ms; }

.hero {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  float: left;
  overflow: hidden;
  margin-top: calc(12vh + 1.7rem);
    /*.hero-arrows {
	    position: absolute;
	    bottom: 40%;
	    width: 100vw;
	    opacity: .32;*/ }
  .hero:after {
    content: " ";
    display: block;
    clear: both; }
  .hero figure {
    margin: 0;
    min-width: 10000vw;
    position: relative;
    left: 0;
    transition: 200ms; }
  .hero img {
    display: block;
    float: left;
    width: 100vw;
    height: auto; }
    .hero img:last-of-type {
      clear: right; }
  .hero figcaption {
    display: block;
    float: left;
    width: 100vw;
    height: auto;
    padding: 2em 4vw;
    background: white;
    box-sizing: border-box; }
    .hero figcaption:first-of-type {
      clear: left; }
  .hero .hero-shadows {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: inset 72px 0px 68px -40px rgba(0, 0, 0, 0.24), inset -72px 0px 68px -40px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: inset 72px 0px 68px -40px rgba(0, 0, 0, 0.24), inset -72px 0px 68px -40px rgba(0, 0, 0, 0.24);
    box-shadow: inset 72px 0px 68px -40px rgba(0, 0, 0, 0.24), inset -72px 0px 68px -40px rgba(0, 0, 0, 0.24); }
    .hero .hero-shadows:after {
      content: " ";
      display: block;
      clear: both; }
  .hero .fa-chevron-left {
    font-size: 2rem;
    position: absolute;
    bottom: 40%;
    left: .25rem;
    opacity: .32;
    color: black;
    z-index: 1; }
  .hero .fa-chevron-right {
    font-size: 2rem;
    right: .25rem;
    position: absolute;
    bottom: 40%;
    opacity: .32;
    color: black;
    z-index: 1; }
  .hero .hero-nav {
    position: absolute;
    bottom: 1rem;
    right: 1rem; }
    .hero .hero-nav a {
      display: block;
      width: .75rem;
      height: .75rem;
      background: #70BD77;
      border: 1px solid white;
      border-radius: 1.5rem;
      float: left;
      margin: .15rem; }
      .hero .hero-nav a.active {
        background: #1F8948; }

body {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #F5F5F5; }
  body:after {
    content: " ";
    display: block;
    clear: both; }

textarea,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="search"] {
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0; }

* {
  -webkit-tap-highlight-color: transparent; }

div, a, section, article, span, img, h1, h2, h3, h4, h5, h6 {
  -webkit-user-select: none;
  -moz-user-select: none; }

main.mobile-home {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: #F5F5F5;
  float: left; }
  main.mobile-home:after {
    content: " ";
    display: block;
    clear: both; }

h4 {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1em 4.16667%; }
  h4:after {
    content: " ";
    display: block;
    clear: both; }

.mobile-links {
  margin: 0;
  padding: 0;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .mobile-links:after {
    content: " ";
    display: block;
    clear: both; }
  .mobile-links a {
    color: rgba(0, 0, 0, 0.92);
    font-weight: 600; }
  .mobile-links li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    display: block;
    padding: 2em 4.16667%;
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    text-transform: uppercase; }
    .mobile-links li .fa {
      float: right; }
    .mobile-links li.call-to-action {
      background: #70BD77;
      color: white; }

.mobile-slider {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch; }
  .mobile-slider:after {
    content: " ";
    display: block;
    clear: both; }

.mobile-slider-container {
  margin: 0;
  min-width: 10000vw; }

a.mobile-slider-product {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: left;
  width: 60vw;
  height: auto;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-top: none;
  text-decoration: none; }
  a.mobile-slider-product:after {
    content: " ";
    display: block;
    clear: both; }
  a.mobile-slider-product .product-image {
    display: block;
    width: auto;
    height: 40vw;
    margin: 4vw auto; }
  a.mobile-slider-product .product-details {
    margin: -10vw 2vw 4vw;
    padding: 1vw 0;
    -webkit-box-shadow: 0px -10px 40px 10px white;
    -moz-box-shadow: 0px -10px 40px 10px white;
    box-shadow: 0px -10px 40px 10px white;
    background: white;
    position: relative;
    z-index: 1; }
  a.mobile-slider-product .product-name {
    font-size: 1.2rem;
    margin: .4em 0;
    text-transform: uppercase;
    text-align: center;
    color: rgba(0, 0, 0, 0.92); }
  a.mobile-slider-product .product-tag {
    font-size: 1rem;
    margin: 0 0 .4em;
    text-align: center;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8); }
  a.mobile-slider-product .product-count {
    font-size: 1rem;
    margin: 0;
    text-align: center;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6); }
  a.mobile-slider-product .product-price {
    font-size: 1.2rem;
    margin: 0.4em 0;
    text-align: center;
    font-weight: 900;
    color: #910e00; }

footer {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-top: 2rem;
  padding-top: 2rem;
  background: #70848F;
  border-top: 4px solid #70BD77; }
  footer:after {
    content: " ";
    display: block;
    clear: both; }
  footer h5 {
    margin: 0 4.16667% 1rem;
    color: rgba(255, 255, 255, 0.92);
    font-size: 1.6rem;
    font-weight: 100;
    text-transform: uppercase; }
  footer p {
    margin: 0 4.16667% 1rem;
    color: rgba(255, 255, 255, 0.92);
    font-size: 1rem; }
  footer .footer-signup-input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin: 0 4.16667% 2rem; }
    footer .footer-signup-input input {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 58.33333%;
      float: left;
      padding-left: 0.83333%;
      padding-right: 0.83333%;
      padding: 1em 4.16667%;
      border: none;
      border-radius: 4px 0 0 4px;
      background: white; }
      footer .footer-signup-input input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(0, 0, 0, 0.96);
        font-weight: 100;
        text-transform: capitalize; }
      footer .footer-signup-input input::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(0, 0, 0, 0.96);
        font-weight: 100;
        text-transform: capitalize; }
      footer .footer-signup-input input:-ms-input-placeholder {
        /* IE 10+ */
        color: rgba(0, 0, 0, 0.96);
        font-weight: 100;
        text-transform: capitalize; }
      footer .footer-signup-input input:-moz-placeholder {
        /* Firefox 18- */
        color: rgba(0, 0, 0, 0.96);
        font-weight: 100;
        text-transform: capitalize; }
    footer .footer-signup-input button {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 41.66667%;
      float: left;
      padding-left: 0.83333%;
      padding-right: 0.83333%;
      padding: 1em 4.16667%;
      border: none;
      border-radius: 0 6px 6px 0;
      background: #F16637;
      color: rgba(255, 255, 255, 0.96);
      font-weight: 900; }
  footer tel {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    background: #70BD77;
    border-radius: 6px;
    margin: 0 4.16667% 1rem;
    padding: 0.8em 4.16667%;
    color: white;
    font-size: 1.2rem;
    font-weight: 900;
    text-align: center;
    border-bottom: 3px solid #1F8948; }
    footer tel i.fa {
      font-size: 1.2rem; }

/*# sourceMappingURL=style.css.map */
