body {
  font-family: "Lato", sans-serif;
  font-size: 14px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans Condensed", sans-serif; }

aside {
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  height: 100vh;
  position: fixed;
  left: -80vw;
  background: #F5F5F5;
  z-index: 999;
  overflow-y: scroll;
  transition: 200ms; }
  aside:after {
    content: " ";
    display: block;
    clear: both; }
  aside nav {
    width: 80vw;
    background: white;
    position: fixed;
    z-index: 1005; }
  aside form {
    width: 80vw;
    position: fixed;
    top: 12vh;
    z-index: 1004; }
  aside .mobile-links {
    position: relative;
    top: 18vh;
    z-index: 1000; }
  aside.show {
    left: 0;
    transition: 200ms; }

.sidebar-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: black;
  opacity: 0;
  z-index: 997;
  display: none;
  transition: 200ms; }
  .sidebar-overlay.show {
    opacity: .80;
    display: block;
    transition: 200ms; }

header {
  background: white; }

nav.navbar-mobile {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  nav.navbar-mobile:after {
    content: " ";
    display: block;
    clear: both; }
  nav.navbar-mobile a {
    display: block; }
    nav.navbar-mobile a img {
      display: block; }

.navbar-mobile-menu {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin: 4.5vh 0; }
  .navbar-mobile-menu img {
    width: auto;
    height: 3vh;
    margin: auto; }

.navbar-mobile-logo {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin: 1vh 0; }
  .navbar-mobile-logo img {
    width: auto;
    height: 8vh;
    margin: auto; }

.navbar-mobile-cart {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin: 4vh 0; }
  .navbar-mobile-cart img {
    width: auto;
    height: 4vh;
    margin: auto; }

.search-mobile {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #70848F; }
  .search-mobile:after {
    content: " ";
    display: block;
    clear: both; }

.search-mobile-input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 91.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin: 1vh 4.16667%; }
  .search-mobile-input input[type="search"] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    padding: 0.5em 4.16667%;
    border: none; }
  .search-mobile-input button {
    position: absolute;
    right: 8.33333%;
    border: none;
    background: none; }
    .search-mobile-input button img {
      height: 1rem;
      margin: .4em; }

.promo {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background: #70BD77;
  padding: .5em; }
  .promo:after {
    content: " ";
    display: block;
    clear: both; }

.hero {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  float: left;
  overflow: hidden; }
  .hero:after {
    content: " ";
    display: block;
    clear: both; }
  .hero figure {
    margin: 0;
    min-width: 10000vw; }
    .hero figure img {
      display: block;
      float: left;
      width: 100vw;
      height: auto; }

.hero-img-2 {
  left: 100vw; }

.hero-img-3 {
  left: 200vw; }

.hero-img-4 {
  left: 300vw; }

.hero-img-5 {
  left: 400vw; }

main.mobile-home {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: #F5F5F5;
  float: left; }
  main.mobile-home:after {
    content: " ";
    display: block;
    clear: both; }

h4 {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1em 4.16667%; }

.mobile-links {
  margin: 0;
  padding: 0;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .mobile-links:after {
    content: " ";
    display: block;
    clear: both; }
  .mobile-links a {
    color: rgba(0, 0, 0, 0.92); }
  .mobile-links li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    display: block;
    padding: 2em 4.16667%;
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08); }

.mobile-slider {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  float: left;
  overflow: hidden;
  overflow-x: scroll; }
  .mobile-slider:after {
    content: " ";
    display: block;
    clear: both; }
  .mobile-slider .mobile-slider-container {
    margin: 0;
    min-width: 10000vw; }
    .mobile-slider .mobile-slider-container a.mobile-slider-product {
      display: block;
      float: left;
      width: 60vw;
      height: 80vw; }

/*# sourceMappingURL=style.css.map */
