nav.navbar-mobile {
    @include container(100%);
    a {
        display: block; 
        img {
            display: block;
        }
    }
}
.navbar-mobile-menu {
    @include span(3 of 12);
    margin: 28px 0;
    img {
        width: 40%;
        margin: auto;
    }
}
.navbar-mobile-logo {
    @include span(6 of 12);
    margin: .5rem 0;
    img {
        width: 100%;
    }
}
.navbar-mobile-cart {
    @include span(3 of 12);
    margin: 24px 0;
    img {
        width: 40%;
        margin: auto;
    }
}