header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}
nav.navbar-mobile {
    @include container(100%);
    width: 100%;
    background: white;
    /*position: fixed;
    top: 0;
    background: white;
    width: 100%;
    z-index: 9;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.12);
	-moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.12);
	box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.12);*/
    a {
        display: block; 
        img {
            display: block;
        }
    }
}
.navbar-mobile-menu {
    @include span(2);
    margin: 4.5vh 0;
    img {
        width: auto;
        height: 3vh;
        margin: auto;
    }
}
.navbar-mobile-logo {
    @include span(6);
    margin: 1vh 0;
    img {
        width: auto;
        height: 8vh;
        margin: auto;
    }
}
.navbar-mobile-cart {
    @include span(2);
    margin: 4vh 0;
    img {
        width: auto;
        height: 4vh;
        margin: auto;
    }
}
.navbar-mobile-search {
    @include span(2);
    margin: 4vh 0;
    img {
        width: auto;
        height: 4vh;
        margin: auto;
    }
}
.search-mobile {
    @include container(100%);
    position: relative;
    top: -8vh;
    z-index: -999;
    width: 100%;
    background: $bc-silver;
    //margin-top: 12vh;
    -webkit-box-shadow: inset 0px 0px 48px 0px rgba(0,0,0,0.48);
	-moz-box-shadow: inset 0px 0px 48px 0px rgba(0,0,0,0.48);
	box-shadow: inset 0px 0px 48px 0px rgba(0,0,0,0.48);
	transition: 200ms;
	&.show {
		top:0;
		transition: 200ms;
	}
}
.search-mobile-input {
    @include span(11);
    margin: 2vh span(.5);
    input[type="search"] {
        @include span(12);
        padding: .5em span(.5);
        border: none;
        border-radius: 0;
        background: none;
        color: rgba(255,255,255,0.96);
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: rgba(255,255,255,0.96);
		  font-weight: 100;
		  text-transform: capitalize;
		}
		&::-moz-placeholder { /* Firefox 19+ */
		  color: rgba(255,255,255,0.96);
		  font-weight: 100;
		  text-transform: capitalize;
		}
		&:-ms-input-placeholder { /* IE 10+ */
		  color: rgba(255,255,255,0.96);
		  font-weight: 100;
		  text-transform: capitalize;
		}
		&:-moz-placeholder { /* Firefox 18- */
		  color: rgba(255,255,255,0.96);
		  font-weight: 100;
		  text-transform: capitalize;
		}    
	}
    button {
        position: absolute;
        right: span(.5);
        border: none;
        background: none;
        margin: .36rem 0;
        color: rgba(255,255,255,0.96);
        i {
	        color: rgba(255,255,255,0.96);
        }
    }
}
.promo {
    @include container(100%);
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background: $bc-lime;
    padding: .5em;
    position: relative;
    top: calc(-4vh - 2rem);
    box-sizing: border-box;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.12);
	-moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.12);
	box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.12);
	transition: 200ms;
    &.show {
	    top: 0;
	    transition: 200ms;
    }
}