.hero {
    @include container(100%);
    position: relative;
    float: left;
    overflow: hidden;
    margin-top: calc(12vh + 1.9rem);
    @include breakpoint ($tablet) {
	    margin-top: calc(9vh + 2.4rem);
    }
    figure {
        margin: 0;
        min-width: 10000vw;
        position: relative;
        left: 0;
        transition: 400ms;
    }
    img {
        display: block;
        float: left;
        width: 100vw;
        height: auto;
        &:last-of-type {
            clear: right;
        }
    }
    figcaption {
        display: block;
        float: left;
        width: 100vw;
        height: auto;
        padding: 2em 4vw;
        background: white;
        box-sizing: border-box;
        &:first-of-type {
            clear: left;
        }
    }
    .hero-shadows {
	    @include container();
	    position: relative;
	    z-index: 1;
	    -webkit-box-shadow: inset 72px 0px 68px -40px rgba(0,0,0,0.24), inset -72px 0px 68px -40px rgba(0,0,0,0.24);
		-moz-box-shadow: inset 72px 0px 68px -40px rgba(0,0,0,0.24), inset -72px 0px 68px -40px rgba(0,0,0,0.24);
		box-shadow: inset 72px 0px 68px -40px rgba(0,0,0,0.24), inset -72px 0px 68px -40px rgba(0,0,0,0.24);
    }
    /*.hero-arrows {
	    position: absolute;
	    bottom: 40%;
	    width: 100vw;
	    opacity: .32;*/
	    .fa-chevron-left {
			font-size: 2rem;
			position: absolute;
			bottom: 40%;
			left: .25rem;
			opacity: .32;
			color: black;
			z-index: 1;
	    }
	    .fa-chevron-right {
		    font-size: 2rem;
		    right: .25rem;
		    position: absolute;
			bottom: 40%;
			opacity: .32;
			color: black;
			z-index: 1;
	    }
    //}
    .hero-nav {
	    position: absolute;
	    bottom: 1rem;
	    right:1rem;
	    a {
		    display: block;
		    width: .75rem;
		    height: .75rem;
		    background: $bc-lime;
		    border: 1px solid white;
		    border-radius: 1.5rem;
		    float: left;
		    margin: .15rem;
		    &.active {
			    background: $bc-green;
		    }
	    }
    }
}