.hero {
    @include container(100%);
    position: relative;
    float: left;
    overflow: hidden;
    //overflow-x: scroll;
    figure {
        margin: 0;
        min-width: 10000vw;
        img {
            display: block;
            float: left;
            width: 100vw;
            height: auto;
        }
    }
}
.hero-img-2 {
    left: 100vw;
}
.hero-img-3 {
    left: 200vw;
}
.hero-img-4 {
    left: 300vw;
}
.hero-img-5 {
    left: 400vw;
}
