 main.mobile-home {
     @include container(100%);
     width: 100%;
     background: $bc-back;
     float: left;
 }
 
 h4 {
     font-size: 1.2rem;
     text-transform: uppercase;
     margin: 1em span(.5);
 }
 
 .mobile-links {
     margin: 0;
     padding: 0;
     @include container(100%);
     a {
         color: rgba(0, 0, 0, .92);
     }
     li {
         @include span(12);
         display: block;
         padding: 2em span(.5);
         background: white;
         border-bottom: 1px solid rgba(0, 0, 0, .08);
     }
 }
 
 .mobile-slider {
     @include container(100%);
     position: relative;
     float: left;
     overflow: hidden;
     overflow-x: scroll;
     .mobile-slider-container {
         margin: 0;
         min-width: 10000vw;
         a.mobile-slider-product {
             display: block;
             float: left;
             width: 60vw;
             height: 80vw;
         }
     }
 }