aside.sidebar {
    @include container(80vw);
    width: 80vw;
    height: 100vh;
    position: fixed;
    left: -80vw;
    background: $bc-back;
    z-index: 999;
    overflow-y: scroll;
    transition: 400ms;
    @include breakpoint ($landscape) {
	    width: 48vw;
    }
    h3.sidebar-welcome {
	 	font-size: 1.2rem;
	 	text-transform: uppercase;
	 	padding: 1em span(.5);
	 	margin: 0;
	 	background: $bc-silver;
	 	color: rgba(255, 255, 255, .9);
	 	font-weight: 100;
	 	i.name {
		 	font-style: italic;
	 	}
	 	.login {
		    float: right;
		    text-decoration: underline;
		    font-family: Lato;
		    font-size: 1rem;
		    text-transform: none;
		    font-weight: 400;
		    float: right;
	 	}
 	}
    nav {
        width: 80vw;
        background: white;
        position: fixed;
        z-index: 1005;
        @include breakpoint ($landscape) {
	    	width: 48vw;
    	}
    }
    .search-mobile {
	    margin: 0;
        //width: 80vw;
        //position: fixed;
        //top: 12vh;
        //z-index: 1004;
    }
    .mobile-links {
        //position: relative;
        //top: 18vh;
        //z-index: 1000;
    }
    &.show {
        left:0;
        transition: 400ms;
    }
}
.sidebar-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: black;
    opacity: 0;
    z-index: 997;
    display: none;
    transition: 400ms;
    &.show {
        opacity: .48;
        display:block;
        transition: 400ms;
    }
}